/* css styles */

div[style*="text-align: justify"] {
  max-width: var(--bs-container-lg, 100%);
  margin: 0 auto;
}

/* Style for marimo content - exactly like the main title */
.marimo-output {
  color: var(--bs-body-color);
  /* font-weight: bold; */
}

.justify {
  text-align: justify;
}